<div class="container">
  <h2>Book List</h2>
  <label for="search">Search :</label>
  <input class="filter" name="search" type="text" [(ngModel)]='keyword' />
  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="books" [cdkDropListConnectedTo]="[doneList]" class="list"
    (cdkDropListDropped)="drop($event)">
    <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
      @for (item of books; track item) {
      <div class="box item" cdkDrag>{{item.title}}</div>
      }
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="container">
  <h2>Selected Book</h2>
  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selectBook" [cdkDropListConnectedTo]="[todoList]"
    class="list" (cdkDropListDropped)="drop($event)">
    <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
      @for (item of selectBook ; track item) {
      <div class="box item" cdkDrag>{{item.title}}</div>
      }
    </cdk-virtual-scroll-viewport>
  </div>

</div>
<div class="container">
  <h2>List preview</h2>
  <div [ngStyle]="{'background-color': backgroundColor}" class="list">
    <p class="text">Discover new worlds
      and ideas with our
      curated selection of
      suggested reads!</p>
    <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
      @for (item of selectBook; track item.title) {
      <div class="box show-list">
        {{item.title}}
      </div>
      }
    </cdk-virtual-scroll-viewport>
  </div>
  <button class="back" (click)="changeback('green')" style="background-color: green;"></button>
  <button class="back" (click)="changeback('red')" style="background-color: red;"></button>
  <button class="back" (click)="changeback('purple')" style="background-color: purple;"></button>
</div>